.content-bg{
     --background: linear-gradient(to bottom,rgb(177,206,248),rgb(255, 255, 255));
 }
 .search-bar-item{
    --border-radius: 32px;
    --cancel-button-color: var(--ion-color-base-purple);
    --clear-button-color: var(--ion-color-base-purple);
    --color: var(--ion-color-base-purple);
    --icon-color: var(--ion-color-base-purple);
    --placeholder-color: var(--ion-color-base-purple);
 }
 .content-List{
    background-color: rgba($color: #fff, $alpha: 0.0);
    margin: 0px;
    padding: 1px 5px;
}
.extra-content-scrollable{
    max-height: 80%;
    --padding-top: 5px;
    --background: rgba($color: #fff, $alpha: 0.0);
}
.content-item{
    --background: rgba($color: #fff, $alpha: 0.0);
   box-shadow: 0px 1px 1px var(--ion-color-base-purple);
    border-radius: 4px;
    margin-bottom: 10px;
}
.custom-chip{
    zoom: 0.8;
    font-size: 16px;
    margin: 0px;
    border: 1px solid transparent;
    padding: 5px;
 }