// bottom navigation bar css property

ion-tab-bar{
    background: var(--ion-color-base-purple);
    border-radius: 32px;
    width: 92% !important;
    height: 7%;
    margin-left: auto;
    margin-right: auto;
}
.nav-bar-icon-class{
  zoom: 0.8;
}
ion-tab-button{
    background: var(--ion-color-base-purple);
    color: var(--ion-color-light);
    border-radius: 32px;
}
ion-tab-button[aria-selected="true"]{
    background-color: var(--ion-color-light);
    color: var(--ion-color-base-purple);
    transition: background-color 300ms ease-in-out;
    
}
ion-tabs{
    background: var(--ion-color-light);

}
// ion-tab-button[aria-selected="true"] ion-label{
//     color: var(--ion-color-base-purple);
//   //  transform: translate3d(0, -5px,0);
// }

// .tabs .tab-button[aria-selected="true"] .tab-button-icon {
//     color: white;
//     -webkit-transform: translate3d(0, -5px, 0);
//     transform: translate3d(0, -5px, 0);
//   }

//   .tabs .tab-button-icon {
//       color: #f2f2f2;
//       padding-bottom: 3px;
//   }